# Default ignored files
/shelf/
/workspace.xml
/IIFA_Economics_Auto-tests_v.0.3.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/config.py
/video_reports/
/.pytest_cache/
.idea
/tools/ffmpeg-master-latest-win64-gpl
